#set $fhem_dateformat = "%Y%m%d%H%M"
time: $current.dateTime.format($fhem_dateformat)
temp0: $current.temp0.degree_C.raw
temp0maxday: $day.temp0.max.raw
temp0minday: $day.temp0.min.raw
temp0maxmonth: $month.temp0.max.raw
temp0minmonth: $month.temp0.min.raw
temp0maxyear: $year.temp0.max.raw
temp0minyear: $year.temp0.min.raw
temp1: $current.temp1.degree_C.raw
temp1maxday: $day.temp1.max.raw
temp1minday: $day.temp1.min.raw
temp1maxmonth: $month.temp1.max.raw
temp1minmonth: $month.temp1.min.raw
temp1maxyear: $year.temp1.max.raw
temp1minyear: $year.temp1.min.raw
temp2: $current.temp2.degree_C.raw
temp2maxday: $day.temp2.max.raw
temp2minday: $day.temp2.min.raw
temp2maxmonth: $month.temp2.max.raw
temp2minmonth: $month.temp2.min.raw
temp2maxyear: $year.temp2.max.raw
temp2minyear: $year.temp2.min.raw
temp3: $current.temp3.degree_C.raw
temp3maxday: $day.temp3.max.raw
temp3minday: $day.temp3.min.raw
temp3maxmonth: $month.temp3.max.raw
temp3minmonth: $month.temp3.min.raw
temp3maxyear: $year.temp3.max.raw
temp3minyear: $year.temp3.min.raw
temp4: $current.temp4.degree_C.raw
temp4maxday: $day.temp4.max.raw
temp4minday: $day.temp4.min.raw
temp4maxmonth: $month.temp4.max.raw
temp4minmonth: $month.temp4.min.raw
temp4maxyear: $year.temp4.max.raw
temp4minyear: $year.temp4.min.raw
temp5: $current.temp5.degree_C.raw
temp5maxday: $day.temp5.max.raw
temp5minday: $day.temp5.min.raw
temp5maxmonth: $month.temp5.max.raw
temp5minmonth: $month.temp5.min.raw
temp5maxyear: $year.temp5.max.raw
temp5minyear: $year.temp5.min.raw
temp6: $current.temp6.degree_C.raw
temp6maxday: $day.temp6.max.raw
temp6minday: $day.temp6.min.raw
temp6maxmonth: $month.temp6.max.raw
temp6minmonth: $month.temp6.min.raw
temp6maxyear: $year.temp6.max.raw
temp6minyear: $year.temp6.min.raw
temp7: $current.temp7.degree_C.raw
temp7maxday: $day.temp7.max.raw
temp7minday: $day.temp7.min.raw
temp7maxmonth: $month.temp7.max.raw
temp7minmonth: $month.temp7.min.raw
temp7maxyear: $year.temp7.max.raw
temp7minyear: $year.temp7.min.raw
temp8: $current.temp8.degree_C.raw
temp8maxday: $day.temp8.max.raw
temp8minday: $day.temp8.min.raw
temp8maxmonth: $month.temp8.max.raw
temp8minmonth: $month.temp8.min.raw
temp8maxyear: $year.temp8.max.raw
temp8minyear: $year.temp8.min.raw
hum0: $current.humidity0.formatted
hum1: $current.humidity1.formatted
hum2: $current.humidity2.formatted
hum3: $current.humidity3.formatted
hum4: $current.humidity4.formatted
hum5: $current.humidity5.formatted
hum6: $current.humidity6.formatted
hum7: $current.humidity7.formatted
hum8: $current.humidity8.formatted
heatindex0: $current.heatindex0.raw
heatindex1: $current.heatindex1.raw
heatindex2: $current.heatindex2.raw
heatindex3: $current.heatindex3.raw
heatindex4: $current.heatindex4.raw
heatindex5: $current.heatindex5.raw
heatindex6: $current.heatindex6.raw
heatindex7: $current.heatindex7.raw
heatindex8: $current.heatindex8.raw
dewpoint0: $current.dewpoint0.raw
dewpoint1: $current.dewpoint1.raw
dewpoint2: $current.dewpoint2.raw
dewpoint3: $current.dewpoint3.raw
dewpoint4: $current.dewpoint4.raw
dewpoint5: $current.dewpoint5.raw
dewpoint6: $current.dewpoint6.raw
dewpoint7: $current.dewpoint7.raw
dewpoint8: $current.dewpoint8.raw
batt0: $current.batteryStatus0.raw
batt1: $current.batteryStatus1.raw
batt2: $current.batteryStatus2.raw
batt3: $current.batteryStatus3.raw
batt4: $current.batteryStatus4.raw
batt5: $current.batteryStatus5.raw
batt6: $current.batteryStatus6.raw
batt7: $current.batteryStatus7.raw
batt8: $current.batteryStatus8.raw
signalquality: $current.rxCheckPercent.formatted
