## skin for klimalogg - Copyright 2015 Matthew Wall
## $Id: index.html.tmpl 1123 2014-11-17 19:37:23Z mwall $
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    <!-- skin for klimalogg - Copyright 2015 Matthew Wall -->
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if 
    <title>$station.location</title>
    <style>
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: $Extras.BG_COLOR;
  color: $Extras.FG_COLOR;
}
h1 {
  font-size: 110%;
}
h2 {
  font-size: 100%;
}
a:link {
  text-decoration: none;
  color: $Extras.LINK_COLOR;
}
a:hover {
  text-decoration: none;
  color: $Extras.HOVER_COLOR;
  background-color: $Extras.HOVER_BG_COLOR;
}
a:visited {
  text-decoration: none;
  color: $Extras.VISITED_COLOR;
}

#header {
  clear: both;
  margin: 0;
  padding: 0;
}

#content {
  clear: both;
}

#station_info {
  float: left;
  line-height: 95%;
}
.station_title {
  font-size: 120%;
  font-weight: bold;
}
.station_location {
  font-size: 75%;
}
.station_time {
  font-size: 75%;
}

.data_graphs {
}
.data_table {
  float: right;
}

#footer {
  padding-top: 50px;
}
#footer table {
  font-size: 8pt;
  font-style: italic;
  color: #aaaaaa;
}
#footer td.label {
  text-align: right;
}

.metrics_table {
  font-size: 80%;
}
.metric_name {
  text-align: right;
}
.metric_large {
  text-align: left;
  font-weight: bold;
  font-size: 230%;
  color: $Extras.LARGE_COLOR;
}
.metric_value {
  text-align: left;
  font-weight: bold;
}
.metric_units {
  text-align: left;
}
.hilo_time {
  text-align: left;
  color: #aaaaaa;
  font-size: 85%;
}
.heatindex {
  color: $Extras.HEATINDEX_COLOR;
}
.heatindex {
  color: $Extras.WINDCHILL_COLOR;
}
.table_heading {
  font-size: 80%;
  color: #888888;
  border-bottom: 1px solid #cccccc;
}

.navigation {
  float: right;
}
.period {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: $Extras.BG_COLOR;
  border: 1px solid $Extras.VISITED_COLOR;
  cursor: pointer;
}
.period_selected {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: $Extras.HOVER_BG_COLOR;
  border: 1px solid $Extras.VISITED_COLOR;
  cursor: pointer;
}
    </style>
    <script>
var periods = ['day','week','month','year'];
function choose(id) {
  for(var i=0; i<periods.length; i++) {
    var c = document.getElementById('control_'+periods[i]);
    if(c) c.className = (periods[i] == id) ? 'period_selected' : 'period';
    var g = document.getElementById('graphs_'+periods[i]);
    if(g) g.style.display = (periods[i] == id) ? 'block' : 'none';
  }
}
    </script>
  </head>
  <body>
    <div id='header'>
      <div id='station_info'>
        <span class='station_title'>$station.location</span><br/>
        <span class='station_time'>$current.dateTime</span>
      </div>
      <div class='navigation'>
        <a class='period_selected' id='control_day' onclick="choose('day')">Day</a>
        <a class='period' id='control_week' onclick="choose('week')">Week</a>
        <a class='period' id='control_month' onclick="choose('month')">Month</a>
        <a class='period' id='control_year' onclick="choose('year')">Year</a>
      </div>
    </div>
    <div id='content'>
      <div class='data_table'>
<!-- current readings in tabular form -->
<table class='metrics_table'>
  <tr>
    <td></td>
    <td class='table_heading' colspan="2">ACTUAL</td>
    <td class='table_heading'>HI/LO</td>
    <td></td>
  </tr>
  #if $day.temp0.has_data
  <tr style='vertical-align:top'>
    <td class='metric_name'>Temperature KLP</td>
    <td class='metric_large'>$current.temp0.formatted</td>
    <td class='metric_value'><span class='dewpoint'>$current.dewpoint0.formatted</span><br/><span class='heatindex'>$current.heatindex0.formatted</span></td>
    <td class='metric_value'>
      $day.temp0.max.formatted<br/>
      $day.temp0.min.formatted</td>
    <td class='metric_units'>$unit.label.temp0</td>
  </tr>
  #end if
  #if $day.humidity0.has_data
  <tr style='vertical-align:top'>
    <td class='metric_name'>Humidity KLP</td>
    <td class='metric_large' colspan='2' >$current.humidity0.formatted</td>
    <td class='metric_value'>
      $day.humidity0.max.formatted<br/>
      $day.humidity0.min.formatted</td>
    <td class='metric_units'>$unit.label.humidity0</td>
  </tr>
  #end if
</table>
<!-- hi/lo readings in tabular form -->
<table class='metrics_table'>
  <tr>
    <td></td>
    <td class="table_heading">TODAY</td>
    <td class="table_heading">MONTH</td>
    <td class="table_heading">YEAR</td>
    <td></td>
  </tr>
  ##
  ## kl-schema ##
  ##
  #if $day.temp0.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Temp KLP:</td>
    <td><span class="metric_value">$day.temp0.max.formatted</span><br/>
      <span class="hilo_time">$day.temp0.maxtime</span></td>
    <td><span class="metric_value">$month.temp0.max.formatted</span><br/>
      <span class="hilo_time">$month.temp0.maxtime</span></td>
    <td><span class="metric_value">$year.temp0.max.formatted</span><br/>
      <span class="hilo_time">$year.temp0.maxtime</span></td>
    <td class="metric_units">$unit.label.temp0</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Temp KLP:</td>
    <td><span class="metric_value">$day.temp0.min.formatted</span><br/>
      <span class="hilo_time">$day.temp0.mintime</span></td>
    <td><span class="metric_value">$month.temp0.min.formatted</span><br/>
      <span class="hilo_time">$month.temp0.mintime</span></td>
    <td><span class="metric_value">$year.temp0.min.formatted</span><br/>
      <span class="hilo_time">$year.temp0.mintime</span></td>
    <td class="metric_units">$unit.label.temp0</td>
  </tr>
  #end if
  #if $day.temp1.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Temp 1:</td>
    <td><span class="metric_value">$day.temp1.max.formatted</span><br/>
      <span class="hilo_time">$day.temp1.maxtime</span></td>
    <td><span class="metric_value">$month.temp1.max.formatted</span><br/>
      <span class="hilo_time">$month.temp1.maxtime</span></td>
    <td><span class="metric_value">$year.temp1.max.formatted</span><br/>
      <span class="hilo_time">$year.temp1.maxtime</span></td>
    <td class="metric_units">$unit.label.temp1</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Temp 1:</td>
    <td><span class="metric_value">$day.temp1.min.formatted</span><br/>
      <span class="hilo_time">$day.temp1.mintime</span></td>
    <td><span class="metric_value">$month.temp1.min.formatted</span><br/>
      <span class="hilo_time">$month.temp1.mintime</span></td>
    <td><span class="metric_value">$year.temp1.min.formatted</span><br/>
      <span class="hilo_time">$year.temp1.mintime</span></td>
    <td class="metric_units">$unit.label.temp1</td>
  </tr>
  #end if
  #if $day.temp2.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Temp 2:</td>
    <td><span class="metric_value">$day.temp2.max.formatted</span><br/>
      <span class="hilo_time">$day.temp2.maxtime</span></td>
    <td><span class="metric_value">$month.temp2.max.formatted</span><br/>
      <span class="hilo_time">$month.temp2.maxtime</span></td>
    <td><span class="metric_value">$year.temp2.max.formatted</span><br/>
      <span class="hilo_time">$year.temp2.maxtime</span></td>
    <td class="metric_units">$unit.label.temp2</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Temp 2:</td>
    <td><span class="metric_value">$day.temp2.min.formatted</span><br/>
      <span class="hilo_time">$day.temp2.mintime</span></td>
    <td><span class="metric_value">$month.temp2.min.formatted</span><br/>
      <span class="hilo_time">$month.temp2.mintime</span></td>
    <td><span class="metric_value">$year.temp2.min.formatted</span><br/>
      <span class="hilo_time">$year.temp2.mintime</span></td>
    <td class="metric_units">$unit.label.temp2</td>
  </tr>
  #end if
  #if $day.temp3.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Temp 3:</td>
    <td><span class="metric_value">$day.temp3.max.formatted</span><br/>
      <span class="hilo_time">$day.temp3.maxtime</span></td>
    <td><span class="metric_value">$month.temp3.max.formatted</span><br/>
      <span class="hilo_time">$month.temp3.maxtime</span></td>
    <td><span class="metric_value">$year.temp3.max.formatted</span><br/>
      <span class="hilo_time">$year.temp3.maxtime</span></td>
    <td class="metric_units">$unit.label.temp3</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Temp 3:</td>
    <td><span class="metric_value">$day.temp3.min.formatted</span><br/>
      <span class="hilo_time">$day.temp3.mintime</span></td>
    <td><span class="metric_value">$month.temp3.min.formatted</span><br/>
      <span class="hilo_time">$month.temp3.mintime</span></td>
    <td><span class="metric_value">$year.temp3.min.formatted</span><br/>
      <span class="hilo_time">$year.temp3.mintime</span></td>
    <td class="metric_units">$unit.label.temp3</td>
  </tr>
  #end if
  #if $day.temp4.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Temp 4:</td>
    <td><span class="metric_value">$day.temp4.max.formatted</span><br/>
      <span class="hilo_time">$day.temp4.maxtime</span></td>
    <td><span class="metric_value">$month.temp4.max.formatted</span><br/>
      <span class="hilo_time">$month.temp4.maxtime</span></td>
    <td><span class="metric_value">$year.temp4.max.formatted</span><br/>
      <span class="hilo_time">$year.temp4.maxtime</span></td>
    <td class="metric_units">$unit.label.temp4</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Temp 4:</td>
    <td><span class="metric_value">$day.temp4.min.formatted</span><br/>
      <span class="hilo_time">$day.temp4.mintime</span></td>
    <td><span class="metric_value">$month.temp4.min.formatted</span><br/>
      <span class="hilo_time">$month.temp4.mintime</span></td>
    <td><span class="metric_value">$year.temp4.min.formatted</span><br/>
      <span class="hilo_time">$year.temp4.mintime</span></td>
    <td class="metric_units">$unit.label.temp4</td>
  </tr>
  #end if
  #if $day.temp5.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Temp 5:</td>
    <td><span class="metric_value">$day.temp5.max.formatted</span><br/>
      <span class="hilo_time">$day.temp5.maxtime</span></td>
    <td><span class="metric_value">$month.temp5.max.formatted</span><br/>
      <span class="hilo_time">$month.temp5.maxtime</span></td>
    <td><span class="metric_value">$year.temp5.max.formatted</span><br/>
      <span class="hilo_time">$year.temp5.maxtime</span></td>
    <td class="metric_units">$unit.label.temp5</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Temp 5:</td>
    <td><span class="metric_value">$day.temp5.min.formatted</span><br/>
      <span class="hilo_time">$day.temp5.mintime</span></td>
    <td><span class="metric_value">$month.temp5.min.formatted</span><br/>
      <span class="hilo_time">$month.temp5.mintime</span></td>
    <td><span class="metric_value">$year.temp5.min.formatted</span><br/>
      <span class="hilo_time">$year.temp5.mintime</span></td>
    <td class="metric_units">$unit.label.temp5</td>
  </tr>
  #end if
  #if $day.temp6.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Temp 6:</td>
    <td><span class="metric_value">$day.temp6.max.formatted</span><br/>
      <span class="hilo_time">$day.temp6.maxtime</span></td>
    <td><span class="metric_value">$month.temp6.max.formatted</span><br/>
      <span class="hilo_time">$month.temp6.maxtime</span></td>
    <td><span class="metric_value">$year.temp6.max.formatted</span><br/>
      <span class="hilo_time">$year.temp6.maxtime</span></td>
    <td class="metric_units">$unit.label.temp6</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Temp 6:</td>
    <td><span class="metric_value">$day.temp6.min.formatted</span><br/>
      <span class="hilo_time">$day.temp6.mintime</span></td>
    <td><span class="metric_value">$month.temp6.min.formatted</span><br/>
      <span class="hilo_time">$month.temp6.mintime</span></td>
    <td><span class="metric_value">$year.temp6.min.formatted</span><br/>
      <span class="hilo_time">$year.temp6.mintime</span></td>
    <td class="metric_units">$unit.label.temp6</td>
  </tr>
  #end if
  #if $day.temp7.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Temp 7:</td>
    <td><span class="metric_value">$day.temp7.max.formatted</span><br/>
      <span class="hilo_time">$day.temp7.maxtime</span></td>
    <td><span class="metric_value">$month.temp7.max.formatted</span><br/>
      <span class="hilo_time">$month.temp7.maxtime</span></td>
    <td><span class="metric_value">$year.temp7.max.formatted</span><br/>
      <span class="hilo_time">$year.temp7.maxtime</span></td>
    <td class="metric_units">$unit.label.temp7</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Temp 7:</td>
    <td><span class="metric_value">$day.temp7.min.formatted</span><br/>
      <span class="hilo_time">$day.temp7.mintime</span></td>
    <td><span class="metric_value">$month.temp7.min.formatted</span><br/>
      <span class="hilo_time">$month.temp7.mintime</span></td>
    <td><span class="metric_value">$year.temp7.min.formatted</span><br/>
      <span class="hilo_time">$year.temp7.mintime</span></td>
    <td class="metric_units">$unit.label.temp7</td>
  </tr>
  #end if
  #if $day.temp8.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Temp 8:</td>
    <td><span class="metric_value">$day.temp8.max.formatted</span><br/>
      <span class="hilo_time">$day.temp8.maxtime</span></td>
    <td><span class="metric_value">$month.temp8.max.formatted</span><br/>
      <span class="hilo_time">$month.temp8.maxtime</span></td>
    <td><span class="metric_value">$year.temp8.max.formatted</span><br/>
      <span class="hilo_time">$year.temp8.maxtime</span></td>
    <td class="metric_units">$unit.label.temp8</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Temp 8:</td>
    <td><span class="metric_value">$day.temp8.min.formatted</span><br/>
      <span class="hilo_time">$day.temp8.mintime</span></td>
    <td><span class="metric_value">$month.temp8.min.formatted</span><br/>
      <span class="hilo_time">$month.temp8.mintime</span></td>
    <td><span class="metric_value">$year.temp8.min.formatted</span><br/>
      <span class="hilo_time">$year.temp8.mintime</span></td>
    <td class="metric_units">$unit.label.temp8</td>
  </tr>
  #end if
  #if $day.humidity0.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Humidity KLP:</td>
    <td><span class="metric_value">$day.humidity0.max.formatted</span><br/>
      <span class="hilo_time">$day.humidity0.maxtime</span></td>
    <td><span class="metric_value">$month.humidity0.max.formatted</span><br/>
      <span class="hilo_time">$month.humidity0.maxtime</span></td>
    <td><span class="metric_value">$year.humidity0.max.formatted</span><br/>
      <span class="hilo_time">$year.humidity0.maxtime</span></td>
    <td class="metric_units">$unit.label.humidity0</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Humidity KLP:</td>
    <td><span class="metric_value">$day.humidity0.min.formatted</span><br/>
      <span class="hilo_time">$day.humidity0.mintime</span></td>
    <td><span class="metric_value">$month.humidity0.min.formatted</span><br/>
      <span class="hilo_time">$month.humidity0.mintime</span></td>
    <td><span class="metric_value">$year.humidity0.min.formatted</span><br/>
      <span class="hilo_time">$year.humidity0.mintime</span></td>
    <td class="metric_units">$unit.label.humidity0</td>
  </tr>
  #end if
  #if $day.humidity1.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Humidity 1:</td>
    <td><span class="metric_value">$day.humidity1.max.formatted</span><br/>
      <span class="hilo_time">$day.humidity1.maxtime</span></td>
    <td><span class="metric_value">$month.humidity1.max.formatted</span><br/>
      <span class="hilo_time">$month.humidity1.maxtime</span></td>
    <td><span class="metric_value">$year.humidity1.max.formatted</span><br/>
      <span class="hilo_time">$year.humidity1.maxtime</span></td>
    <td class="metric_units">$unit.label.humidity1</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Humidity 1:</td>
    <td><span class="metric_value">$day.humidity1.min.formatted</span><br/>
      <span class="hilo_time">$day.humidity1.mintime</span></td>
    <td><span class="metric_value">$month.humidity1.min.formatted</span><br/>
      <span class="hilo_time">$month.humidity1.mintime</span></td>
    <td><span class="metric_value">$year.humidity1.min.formatted</span><br/>
      <span class="hilo_time">$year.humidity1.mintime</span></td>
    <td class="metric_units">$unit.label.humidity1</td>
  </tr>
  #end if
  #if $day.humidity2.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Humidity 2:</td>
    <td><span class="metric_value">$day.humidity2.max.formatted</span><br/>
      <span class="hilo_time">$day.humidity2.maxtime</span></td>
    <td><span class="metric_value">$month.humidity2.max.formatted</span><br/>
      <span class="hilo_time">$month.humidity2.maxtime</span></td>
    <td><span class="metric_value">$year.humidity2.max.formatted</span><br/>
      <span class="hilo_time">$year.humidity2.maxtime</span></td>
    <td class="metric_units">$unit.label.humidity2</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Humidity 2:</td>
    <td><span class="metric_value">$day.humidity2.min.formatted</span><br/>
      <span class="hilo_time">$day.humidity2.mintime</span></td>
    <td><span class="metric_value">$month.humidity2.min.formatted</span><br/>
      <span class="hilo_time">$month.humidity2.mintime</span></td>
    <td><span class="metric_value">$year.humidity2.min.formatted</span><br/>
      <span class="hilo_time">$year.humidity2.mintime</span></td>
    <td class="metric_units">$unit.label.humidity2</td>
  </tr>
  #end if
  #if $day.humidity3.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Humidity 3:</td>
    <td><span class="metric_value">$day.humidity3.max.formatted</span><br/>
      <span class="hilo_time">$day.humidity3.maxtime</span></td>
    <td><span class="metric_value">$month.humidity3.max.formatted</span><br/>
      <span class="hilo_time">$month.humidity3.maxtime</span></td>
    <td><span class="metric_value">$year.humidity3.max.formatted</span><br/>
      <span class="hilo_time">$year.humidity3.maxtime</span></td>
    <td class="metric_units">$unit.label.humidity3</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Humidity 3:</td>
    <td><span class="metric_value">$day.humidity3.min.formatted</span><br/>
      <span class="hilo_time">$day.humidity3.mintime</span></td>
    <td><span class="metric_value">$month.humidity3.min.formatted</span><br/>
      <span class="hilo_time">$month.humidity3.mintime</span></td>
    <td><span class="metric_value">$year.humidity3.min.formatted</span><br/>
      <span class="hilo_time">$year.humidity3.mintime</span></td>
    <td class="metric_units">$unit.label.humidity3</td>
  </tr>
  #end if
  #if $day.humidity5.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Humidity 4:</td>
    <td><span class="metric_value">$day.humidity4.max.formatted</span><br/>
      <span class="hilo_time">$day.humidity4.maxtime</span></td>
    <td><span class="metric_value">$month.humidity4.max.formatted</span><br/>
      <span class="hilo_time">$month.humidity4.maxtime</span></td>
    <td><span class="metric_value">$year.humidity4.max.formatted</span><br/>
      <span class="hilo_time">$year.humidity4.maxtime</span></td>
    <td class="metric_units">$unit.label.humidity4</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Humidity 4:</td>
    <td><span class="metric_value">$day.humidity4.min.formatted</span><br/>
      <span class="hilo_time">$day.humidity4.mintime</span></td>
    <td><span class="metric_value">$month.humidity4.min.formatted</span><br/>
      <span class="hilo_time">$month.humidity4.mintime</span></td>
    <td><span class="metric_value">$year.humidity4.min.formatted</span><br/>
      <span class="hilo_time">$year.humidity4.mintime</span></td>
    <td class="metric_units">$unit.label.humidity4</td>
  </tr>
  #end if
  #if $day.humidity5.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Humidity 5:</td>
    <td><span class="metric_value">$day.humidity5.max.formatted</span><br/>
      <span class="hilo_time">$day.humidity5.maxtime</span></td>
    <td><span class="metric_value">$month.humidity5.max.formatted</span><br/>
      <span class="hilo_time">$month.humidity5.maxtime</span></td>
    <td><span class="metric_value">$year.humidity5.max.formatted</span><br/>
      <span class="hilo_time">$year.humidity5.maxtime</span></td>
    <td class="metric_units">$unit.label.humidity5</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Humidity 5:</td>
    <td><span class="metric_value">$day.humidity5.min.formatted</span><br/>
      <span class="hilo_time">$day.humidity5.mintime</span></td>
    <td><span class="metric_value">$month.humidity5.min.formatted</span><br/>
      <span class="hilo_time">$month.humidity5.mintime</span></td>
    <td><span class="metric_value">$year.humidity5.min.formatted</span><br/>
      <span class="hilo_time">$year.humidity5.mintime</span></td>
    <td class="metric_units">$unit.label.humidity5</td>
  </tr>
  #end if
  #if $day.humidity6.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Humidity 6:</td>
    <td><span class="metric_value">$day.humidity6.max.formatted</span><br/>
      <span class="hilo_time">$day.humidity6.maxtime</span></td>
    <td><span class="metric_value">$month.humidity6.max.formatted</span><br/>
      <span class="hilo_time">$month.humidity6.maxtime</span></td>
    <td><span class="metric_value">$year.humidity6.max.formatted</span><br/>
      <span class="hilo_time">$year.humidity6.maxtime</span></td>
    <td class="metric_units">$unit.label.humidity6</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Humidity 6:</td>
    <td><span class="metric_value">$day.humidity6.min.formatted</span><br/>
      <span class="hilo_time">$day.humidity6.mintime</span></td>
    <td><span class="metric_value">$month.humidity6.min.formatted</span><br/>
      <span class="hilo_time">$month.humidity6.mintime</span></td>
    <td><span class="metric_value">$year.humidity6.min.formatted</span><br/>
      <span class="hilo_time">$year.humidity6.mintime</span></td>
    <td class="metric_units">$unit.label.humidity6</td>
  </tr>
  #end if
  #if $day.humidity7.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Humidity 7:</td>
    <td><span class="metric_value">$day.humidity7.max.formatted</span><br/>
      <span class="hilo_time">$day.humidity7.maxtime</span></td>
    <td><span class="metric_value">$month.humidity7.max.formatted</span><br/>
      <span class="hilo_time">$month.humidity7.maxtime</span></td>
    <td><span class="metric_value">$year.humidity7.max.formatted</span><br/>
      <span class="hilo_time">$year.humidity7.maxtime</span></td>
    <td class="metric_units">$unit.label.humidity7</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Humidity 7:</td>
    <td><span class="metric_value">$day.humidity7.min.formatted</span><br/>
      <span class="hilo_time">$day.humidity7.mintime</span></td>
    <td><span class="metric_value">$month.humidity7.min.formatted</span><br/>
      <span class="hilo_time">$month.humidity7.mintime</span></td>
    <td><span class="metric_value">$year.humidity7.min.formatted</span><br/>
      <span class="hilo_time">$year.humidity7.mintime</span></td>
    <td class="metric_units">$unit.label.humidity7</td>
  </tr>
  #end if
  #if $day.humidity8.has_data
  <tr style='vertical-align:top'>
    <td class="metric_name">High Humidity 8:</td>
    <td><span class="metric_value">$day.humidity8.max.formatted</span><br/>
      <span class="hilo_time">$day.humidity8.maxtime</span></td>
    <td><span class="metric_value">$month.humidity8.max.formatted</span><br/>
      <span class="hilo_time">$month.humidity8.maxtime</span></td>
    <td><span class="metric_value">$year.humidity8.max.formatted</span><br/>
      <span class="hilo_time">$year.humidity8.maxtime</span></td>
    <td class="metric_units">$unit.label.humidity8</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Low Humidity 8:</td>
    <td><span class="metric_value">$day.humidity8.min.formatted</span><br/>
      <span class="hilo_time">$day.humidity8.mintime</span></td>
    <td><span class="metric_value">$month.humidity8.min.formatted</span><br/>
      <span class="hilo_time">$month.humidity8.mintime</span></td>
    <td><span class="metric_value">$year.humidity8.min.formatted</span><br/>
      <span class="hilo_time">$year.humidity8.mintime</span></td>
    <td class="metric_units">$unit.label.humidity8</td>
  </tr>
  #end if
</table>
<div id='footer'>
  <table>
    <tr><td class='label'>altitude:</td>
      <td>$station.altitude</td></tr>
    <tr><td class='label'>location:</td>
      <td>$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2], $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]</td></tr>
    <tr><td class='label'>station:</td>
      <td>$station.hardware</td></tr>
    <tr><td class='label'>server:</td>
      <td>$station.os_uptime</td></tr>
    <tr><td class='label'>weewx:</td>
      <td>$station.uptime</td></tr>
    <tr><td></td>
      <td>$station.version</td></tr>
  </table>
</div>
      </div>
      <div id='graphs_day' class='data_graphs'>
        <img src="daytemp_a.png" alt="temperatures-a" />
        <img src="daytemp_b.png" alt="temperatures-b" />
        <img src="dayhumidity_a.png" alt="humidity-a" />
        <img src="dayhumidity_b.png" alt="humidity-b" />
        <img src="daydewpoint_a.png" alt="dewpoint-a" />
        <img src="daydewpoint_b.png" alt="dewpoint-b" />
        <img src="dayheatindex_a.png" alt="heatindex-a" />
        <img src="dayheatindex_b.png" alt="heatindex-b" />
        <img src="daybatterystatus_a.png" alt="batterystatus-a" />
        <img src="daybatterystatus_b.png" alt="batterystatus-b" />
        <img src="dayrx.png" alt="rx" />
      </div>
      <div id='graphs_week' class='data_graphs' style='display:none'>
        <img src="weektemp_a.png" alt="temperatures-a" />
        <img src="weektemp_b.png" alt="temperatures-b" />
        <img src="weekhumidity_a.png" alt="humidity-a" />
        <img src="weekhumidity_b.png" alt="humidity-b" />
        <img src="weekdewpoint_a.png" alt="dewpoint-a" />
        <img src="weekdewpoint_b.png" alt="dewpoint-b" />
        <img src="weekheatindex_a.png" alt="heatindex-a" />
        <img src="weekheatindex_b.png" alt="heatindex-b" />
        <img src="weekbatterystatus_a.png" alt="batterystatus-a" />
        <img src="weekbatterystatus_b.png" alt="batterystatus-b" />
        <img src="weekrx.png" alt="rx" />
      </div>
      <div id='graphs_month' class='data_graphs' style='display:none'>
        <img src="monthtemp_a.png" alt="temperatures-a" />
        <img src="monthtemp_b.png" alt="temperatures-b" />
        <img src="monthhumidity_a.png" alt="humidity-a" />
        <img src="monthhumidity_b.png" alt="humidity-b" />
        <img src="monthdewpoint_a.png" alt="dewpoint-a" />
        <img src="monthdewpoint_b.png" alt="dewpoint-b" />
        <img src="monthheatindex_a.png" alt="heatindex-a" />
        <img src="monthheatindex_b.png" alt="heatindex-b" />
        <img src="monthbatterystatus_a.png" alt="batterystatus-a" />
        <img src="monthbatterystatus_b.png" alt="batterystatus-b" />
        <img src="monthrx.png" alt="rx" />
      </div>
      <div id='graphs_year' class='data_graphs' style='display:none'>
        <img src="yeartemp_a.png" alt="temperatures-a" />
        <img src="yeartemp_b.png" alt="temperatures-b" />
        <img src="yearhumidity_a.png" alt="humidity-a" />
        <img src="yearhumidity_b.png" alt="humidity-b" />
        <img src="yeardewpoint_a.png" alt="dewpoint-a" />
        <img src="yeardewpoint_b.png" alt="dewpoint-b" />
        <img src="yearheatindex_a.png" alt="heatindex-a" />
        <img src="yearheatindex_b.png" alt="heatindex-b" />
        <img src="yearbatterystatus_a.png" alt="batterystatus-a" />
        <img src="yearbatterystatus_b.png" alt="batterystatus-b" />
        <img src="yearrx.png" alt="rx" />
      </div>
    </div>
  </body>
</html>
